<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Warholstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <title>Warhol</title>
  </head>

  <body>
    <header>
      <div class="barra-de-usuario">
        <div class="personalizar">
          <a href="">
            <h3>Personalizar</h3>
          </a>
        </div>

        <div class="user">
          <ul>
            <li>
              <img src="/imagenes/iconos/Carrito.svg" alt="carrito" />
            </li>
            <li>
              <a href="/login"
                ><img src="/imagenes/iconos/User.svg" alt="Usuario"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="logo">
        <img src="/imagenes/iconos/logo-warhol2.svg" alt="warhol" />
      </div>

      <nav>
        <ul>
          <li class="buzos">
            <a href="#catalogo-buzos">Buzos</a>
          </li>
          <li class="remeras">
            <a href="#catalogo-remeras">Remeras</a>
          </li>
          <li class="gorros">
            <a href="#catalogo-gorros">Gorros</a>
          </li>
          <li class="gorras">
            <a href="#catalogo-gorras">Gorras</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Buzos</h1>
      <div id="catalogo-buzos"></div>

      <h1>Remeras</h1>
      <div id="catalogo-remeras"></div>

      <h1>Gorros</h1>
      <div id="catalogo-gorros"></div>

      <h1>Gorras</h1>
      <div id="catalogo-gorras"></div>
    </main>

    <footer>
      <div class="logo-footer">
        <img src="/imagenes/iconos/logo-warhol2.svg" alt="" />
      </div>
      <div class="items-info">
        <div>
          <h6>Contacto</h6>
          <p>warholcontacto@gmail.com</p>
        </div>
        <div>
          <h6>Ubicacion</h6>
          <p>San carlos-Uruguay</p>
        </div>
      </div>
      <div class="redes">
        <ul>
          <li>
            <a href="https://www.instagram.com/warhol.uy/"
              ><img src="/imagenes/iconos/instagram-logo.png" alt=""
            /></a>
          </li>
          <li>
            <a href=""
              ><img
                src="/imagenes/iconos/768px-Facebook_f_logo_(2019).svg"
                alt=""
            /></a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="/js/Lista-de-ropa.js"></script>
  </body>
</html>
