<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Loginstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Registro</title>
  </head>
  <body>
    <div class="loginbox">
      <img class="user" src="/imagenes/iconos/user.svg" alt="" />
      <h1>Registro</h1>
      <form action="/register" method="POST">
        <p>Usuario</p>
        <input type="text" name="usuario" placeholder="Ingresar Usuario" />
        <p>Nombre</p>
        <input type="text" name="nombre" placeholder="Ingresar Nombre" />
        <p>Contraseña</p>
        <input type="password" name="clave" placeholder="Ingresar Contraseña" />
        <input type="submit" name="" value="Registrarse" />
      </form>
    </div>
  </body>
</html>
